@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

.radial-gradient-bg {
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,1) 50%, rgb(34, 2, 56) 100%);
}

.main{
  @apply min-h-[calc(100vh-98px-72px)] w-container px-containerDesktop mx-auto flex text-center items-center justify-center
}

.button{
  @apply bg-buttonBg font-medium outline outline-1 outline-transparent transition-all rounded-xl hover:bg-buttonHoverBg hover:outline-white/75 text-white
}

.navbar{
  @apply w-container px-containerDesktop max-w-full h-[98px] mx-auto flex items-center text-white
}

.profile-button{
  @apply w-11 h-11 rounded-full bg-center bg-cover bg-no-repeat outline outline-1 outline-transparent transition-all hover:outline-white/75
}

.profile-dropdown-active{
  @apply absolute top-16 right-0 bg-black border w-max border-white/75 block p-2 rounded-xl
}

.profile-dropdown-button{
  @apply px-5 py-2 rounded-xl hover:bg-[#333333] w-full text-left flex items-center
}